@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="font-size:xx-large; color:black">Welcome to site!</h1>

        <a type="button" class="btn btn-success" href="Brands">Brands</a>
        <a type="button" class="btn btn-info" href="Types">Types</a>
        <a type="button" class="btn btn-warning" href="Materials">Materials</a>
        <a type="button" class="btn btn-success" href="Forms">Forms</a>
        <a type="button" class="btn btn-info" href="Musicians">Musicians</a>
        <a type="button" class="btn btn-warning" href="Guitars">Guitars</a>
    </div>
